body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #3498db, #2c3e50);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    max-width: 80%;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-field {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #3498db;
}

.btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.forgot-password {
    color: #777;
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #777;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.imga {
    width: 100px;
    height: auto;
}
