body, html {
  height: 100%; /* Memastikan elemen body dan html mengisi tinggi 100% dari viewport */
}

.content {
  min-height: 100%; /* Memberi elemen .content tinggi minimal 100% dari viewport */
  display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
  flex-direction: column; /* Mengatur tata letak .content menjadi kolom */
}

.main {
  flex: 1; /* Memberi elemen .main fleksibilitas sehingga mengisi ruang yang tersedia */
}
.button-container {
  display: flex;
  justify-content: space-between; /* Menempatkan elemen-elemen pada ujung kiri dan kanan */
}

.button-container a:first-child {
  margin-right: 10px; /* Atur jarak antara tombol pertama dan kedua */
}

.button-container a:last-child {
  margin-left: 10px; /* Atur jarak antara tombol kedua dan pertama */
}
